<%- title @category.label.upcase  %>
<% if !@articles.blank? %>
  <% for article in @articles %>
    <%- lnk=category_article_path(@category,article,:format=>:html) -%>
	<div class="post">
		<%- unless article.icon.url.blank?  -%>
			<a class="thumb" href="<%= lnk %>">
				<%= image_tag(article.icon.url(:small),:class=>'postThumb') %>
			</a>
		<%- end -%>
		<h2 class="posttitle"><%= link_to(article.title,lnk) %></h2>
		<small><%= I18n.l(article.published_at,:format=>"%e %B %Y") %>.</small>
		<div class="post_details"><%= mytextilize(article.intro).html_safe %></div>
		<p><%= link_to(I18n.t(:read_more),lnk) %></p>
	<div class="clear"></div>
	</div><!--end post-->
  <% end %>

<% else %>
  
<% end %>

