<h1><%= I18n.t("Photography",:default=>'Photography') %></h1>
<% if !@gallery_types.blank? %>

	<% for gallery_type in @gallery_types %>
		<h2><%= link_to gallery_type.name, gallery_type_galleries_path(gallery_type) %></h2>
		<%- gallery_type.galleries.all(:order=>:created_at,:limit=>3).each do |gallery| %>
			<div class="post">
				<h3 class="posttitle"><%= link_to(gallery.label,gallery_type_gallery_path(gallery_type,gallery)) %></h3>
				<%- if gallery.default_photo -%>
					<a class="thumb" href="<%= gallery_type_gallery_path(gallery_type,gallery) %>">
						<%= image_tag(gallery.default_photo.image.url(:small)) %>
					</a>
				<%- end -%>
	   			<div class="clear"></div>
			</div><!--end post-->
		<%- end -%>
  	<% end %>

<% else %>
  
<% end %>



