<td>
	<%=super_article_link(article)	%>	
</td>
<td><%= article.display_date.to_s(:long) %></td>
<td>
	<%= article.category.formatted_name %>
</td>
<td>
	<%= image_tag(article.icon.url(:tiny)) unless article.icon.url.blank? %>
</td>


<td><%= created_updated(article) %></td>
<td><%= render :partial => '/shared/enable_disable', :locals => {:object=>article, :enabledisable_path=>enabledisable_casein_article_path(article,:enabled=>(!article.published))} %>
</td>
<td>
	 <%= link_to(get_cms_icon("pencil"), edit_casein_article_path(article),:class=>'with-tip',:title=>'Edit') %>
</td>
<td>
<%= list_destroy_button(casein_article_path(article),true,"article: #{article.title_fr}") %>
</td>