<td><%= gallery.gallery_type.name %></td>
	<td>
			<%= link_to gallery.name,casein_gallery_path(gallery) %>
</td>
<td><%= gallery.location.name if gallery.location %></td>
	<td>
			<%= gallery.event_date.to_s %>
</td>
	<td><%= link_to "(#{gallery.photos_count}) edit", casein_gallery_photos_path(gallery) %></td>
	<td><%= link_to image_tag(gallery.default_photo.image.url(:tiny)) ,casein_gallery_photos_path(gallery) unless gallery.default_photo.nil? %></td>
	<td><%= link_to("delete all pictures", flush_casein_gallery_path(gallery), :method => :put, :confirm => "Are you sure you want to delete all the pictures in this gallery?",:class=>'with-tip',:title=>'Delete all pictures',:remote=>true) %></td>

	
			<td><%= gallery.created_at.to_s(:db) %></td>
			<td><%= gallery.updated_at.to_s(:db) %></td>
			<td class="table-actions">
				<%= render :partial => '/shared/enable_disable', :locals => {:object=>gallery, :enabledisable_path=>enabledisable_casein_gallery_path(gallery,:enabled=>(!gallery.enabled))} %>
  				<%= link_to(get_cms_icon("pencil"), casein_gallery_path(gallery),:class=>'with-tip',:title=>'Edit') %>
				<%= link_to(get_cms_icon("cross-circle"), casein_gallery_path(gallery), :method => :delete, :confirm => "Are you sure you want to delete this gallery?",:class=>'with-tip',:title=>'Delete') %>
        	</td>
