<%- lnk=photography_gallery_path(gallery.gallery_type,gallery,:format=>:html) -%>
<div class="post">
	
    <ul class="full_overlay">
    
        <li class="content">
        	<h4><%= link_to(gallery.label,lnk) %></h4>
			<p><%=  gallery.display_date %>, <%= gallery.location.name %>.<br />
			<%= link_to("&raquo;&nbsp;#{I18n.t(:view_pictures)}".html_safe,lnk) %></p>
        </li>
        
        <li><%= image_tag(gallery.default_photo.image.url(:small)) %></li>
        
    </ul>
	<div class="clear"></div>
</div><!--end post-->
