<%- @extra_body_class="category category-gallery" -%>
<%= content_for :bgimg do -%><%= @gallery.default_photo.image.url %><%- end %>
<%- title @gallery.label -%>
<span class="date_infos"><%=  I18n.l(@gallery.event_date,:format=>"%e %B %Y") %></span>
<% if !@photos.blank? %>
<div class="gallery_container">
<% for photo in @photos %>
	<div class="post">
		<!-- <h2 class="posttitle"><a href="toto">a title</a></h2>  -->
		<a class="thumb" href="<%= photo.image.url %>" rel="colorbox_slideshow"><%= image_tag(photo.image.url(:small),:class=>'postThumb',:height=>160, :width=>220,:alt=>"#{@gallery.name}-#{photo.id.to_s}") %></a>
   		<div class="clear"></div>
	</div><!--end post-->
<% end %>
</div>
<%#= will_paginate @photos %>

<%= content_for :sidebar do %>
	<h3><%= @gallery.label %></h3>
	<p><strong><%= I18n.l(@gallery.event_date,:format=>"%e %B %Y")  %></strong></p>
	<%= mytextilize(@gallery.description).html_safe %>
	<%#= google_map(@gallery.location.long_label,@gallery.location.lat,@gallery.location.lng) %>
	<div id="map">
		  <%= link_to(image_tag( "http://maps.google.com/maps/api/staticmap?center=#{@gallery.location.lat},#{@gallery.location.lng}&zoom=12&size=290x240&markers=color:red%7Ccolor:red%7Clabel:C%7C#{@gallery.location.lat},#{@gallery.location.lng}&sensor=false",:id=>'static_image'),"http://maps.google.ch/maps?q=#{@gallery.location.long_label.cleanup_html}",:rel=>'external') %>
		
		
	</div>
	<div class="clear"></div>
	<h3><%= I18n.t(:next) %></h3>
	<%= render :partial=>'/galleries/gallery_box',:locals=>{:gallery=>@next} %>
	<h3><%= I18n.t(:previous) %></h3>
	<%= render :partial=>'/galleries/gallery_box',:locals=>{:gallery=>@previous} %>
	
<%- end -%>



<% else %>
  
<% end %>



