<%- @extra_body_class="category category-gallery" -%>
<%- title @gallery.label -%>
<span class="date_infos"><%=  I18n.l(@gallery.event_date,:format=>"%e %B %Y") %></span>
<% if !@photos.blank? %>
<div class="gallery_container">
<% for photo in @photos %>
	<div class="post">
		<!-- <h2 class="posttitle"><a href="toto">a title</a></h2>  -->
		<a class="thumb" href="<%= photo.image.url %>" rel="colorbox_slideshow"><%= image_tag(photo.image.url(:small),:class=>'postThumb',:height=>160, :width=>220,:alt=>"#{@gallery.name}-#{photo.id.to_s}") %></a>
   		<div class="clear"></div>
	</div><!--end post-->
<% end %>
</div>
<%#= will_paginate @photos %>

<%= content_for :sidebar do %>
	<h3><%= @gallery.label %></h3>
	<p><strong><%= I18n.l(@gallery.event_date,:format=>"%e %B %Y")  %></strong></p>
	<%= mytextilize(@gallery.description).html_safe %>
	<div id="map"></div>
	

	<%= Gallery.next_galleries(@gallery).each do |gallery| %>
	<p>	<%= gallery.label %></p>
		<!-- <p><%= link_to(gallery.label,gallery_type_gallery_path(gallery.gallery_type,gallery)) %></p> -->
	<%- end -%>
	
<%- end -%>



<%- if @gallery.location -%>

		<%= content_for :head_js do %>
		<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GOOGLEMAPS_API_KEY %>" ></script>
		
		<script type="text/javascript" >
		function initialize() { 
			if (GBrowserIsCompatible()) {
		   	 var map = new GMap2(document.getElementById("map")); 
		   	 var latlng=new GLatLng(<%=@gallery.location.lat%>, <%=@gallery.location.lng%>);
			 var content="<span style='width:100px'><h4><%= @gallery.location.name %></h4><p style='width:100px'><%= @gallery.location.address %></p></span>";
			var icon = new GIcon();
		                icon.image = "http://labs.google.com/ridefinder/images/mm_20_red.png";
		                icon.shadow = "http://labs.google.com/ridefinder/images/mm_20_shadow.png";
		                icon.iconSize = new GSize(12, 20);
		                icon.shadowSize = new GSize(22, 20);
		             //   icon.iconAnchor = new GPoint(6, 20);
		             //   icon.infoWindowAnchor = new GPoint(5, 1)
		   	 map.setCenter(latlng,12); 
		   	 map.addControl(new GLargeMapControl());
		   	 var marker = new GMarker(latlng,icon); 
		   	 map.addOverlay(marker);
		     map.enableDoubleClickZoom();
		     map.enableScrollWheelZoom();
			 //marker.openInfoWindowHtml(content);
			}
		}
		window.onload=initialize; window.onunload=GUnload;
		
		</script>
		<%- end -%>
<%- end -%>

<% else %>
  
<% end %>



