<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Jujudellago</title>
	<meta name="keywords" content="<%= yield(:keywords) || render(:partial=>'/layouts/keywords')  %>" />
	<meta name="description" content="<%= yield(:description) || render(:partial=>'/layouts/description')  -%>" />
	<%= stylesheet_link_merged(:hud ).html_safe %>
	<%= csrf_meta_tag %>
</head>
<body class="strd <%= @extra_body_class %>">
<div id="formbackground"></div>
<div id="topBanner">
	<div id="loginOpen" class="metaButton"><img src="images/profile-trans.png" alt="" height="10" width="9" /> &nbsp;<span>LOGIN</span></div>
	<div id="formOpen" class="metaButton"><img src="images/email-trans.png" alt="" height="10" width="18" /> &nbsp;<span>CONTACT</span></div>
	<%= content_tag(:div,link_to(image_tag("/images/banners/jujudellago_photoreports_200.png"),root_path),:id=>'logo_container') %>
</div><!--end topBanner-->
<!--ANIMATING GIF WHILE PAGE LOADS-->
<img id="loadingGif" src="/images/ajax-loader.gif" alt="" />
<!--THIS IS A MESSAGE FOR USERS WHO HAVE JAVASCRIPT TURNED OFF-->
<noscript>
<div id="noScript">
	<h2>Javascript disabled!</h2>
	<p>You currently have javascript disabled. This site is best viewed with javascript active. Please turn javascript on and refresh this page.</p>
</div><!--end noScript-->
</noscript>
<div id="content">
	<div id="scrollContent">
    	<%= content_tag :h1, yield(:title) if show_title? %>
		<%= yield %>
		<div class="clear"></div>
	</div>
</div>
<!--NAVIGATION-->
<div id="menu">
	<div id="menuHint">MENU</div>
	
	<div id="menuScroll">	
		<ul id="dropmenu">
			<li class="current_page_item"><a href="/">Home</a></li>
			<%= content_tag :li, link_to(I18n.t(:news),category_articles_path('news')) %>
			<%= content_tag :li, link_to(I18n.t(:photos),photography_index_path) %>
			<%= content_tag :li, link_to(I18n.t(:food),category_articles_path('food')) %>
			<%= content_tag :li, link_to(I18n.t(:videos),videos_path) %>
			<%= content_tag :li, link_to(I18n.t(:music),category_articles_path('music') ) %>
		</ul><!--end dropmenu-->
	</div><!--end menuScroll-->
</div><!--end menu-->
<div id="sidebar">
	<div id="sidebarHint">MORE</div>
	<div id="sidebarScroll">
		<ul>
				<li class="widget">
					<%= yield :sidebar %>
				</li>
		</ul>
	</div><!--end sidebarScroll-->
</div><!--end sidebar-->
<!--FOOTER-->
<div id="footerBanner">  
	<!--NEWSTICKER-->
	<div class="fadein">
		<%- Article.latest.each do |article| %>
		<div class="newsTick"><strong><%= article.category.label %></strong>: <%= link_to article.title, category_article_url(article.category,article,:format=>:html) %>, <i><%=I18n.l(article.display_date,:format=>"%e %B %Y") %></i></div>
		<%- end -%>
	</div><!--end fadein-->
	<!--SOCIAL ICONS-->
	<a id="rss" class="socialBtn" href="#"></a>
	<a id="twitter" class="socialBtn" href="http://www.twitter.com/jujudellago"></a>
	<a id="facebook" class="socialBtn" href="http://www.facebook.com/pages/Jujudellago-Photoreports/144286052303738"></a>
	<a id="youtube" class="socialBtn" href="http://www.youtube.com/jujudellago"></a>
</div><!--end footerBanner-->
<!--CONTACT FORM-->
<div id="contactform"  class="contact flyer">
	<div class="close">X</div>
 <%= form_tag(send_contact_url,:method=>'post',:remote=>true) do -%>
	<div id="contact_form_container">
    	<h4>Send Email</h4>    
    	<p>
    		<input type="text" name="name" id="name" value="" class="input" /> 
    		<label class="smallInput" for="name">Name:</label>
    	</p>
    	<p>
    		<input type="text" name="email" id="email" value="" class="input" /> 
    		<label class="smallInput" for="email">Email:</label>
    	</p>
    	<p>
    		<textarea name="message" id="message" class="input"></textarea>
    		<label class="smallInput" for="message">Message:</label>
    	</p>
    	<input name="send" id="submit_btn" type="submit" class="button" value="Send Message" />
	</div>
<%- end -%>
</div>
<!--LOGIN FORM-->
<div id="login" class="flyer">
	<div class="close">X</div>
	<h4>Login</h4>
	<%= form_for Casein::UserSession.new, :url => casein_user_session_path do |f| %>
		<p>
  	    <%= f.text_field :login, :size=>"22",:id=>'log'  %>
		<label for="log"> Username</label>
		</p>
		<p>
  	    <%= f.password_field :password, :size=>"22",:id=>'pwd'  %>
		<label for="pwd">Password</label>
		</p>
		<input type="submit" name="submit" value="Log in" class="button" />
	<%- end -%>
</div><!--end login-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" asrc="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>					
<%= javascript_include_merged(:hud).html_safe  %>
<%= yield :head_js %>
<%= background_image(yield :bgimg) %>
<script src="javascripts/fullscreenr.js" type="text/javascript"></script>
<script type="text/javascript">  
var FullscreenrOptions = {  width: 1200, height: 700, bgID: '#bgimg' };
jQuery.fn.fullscreenr(FullscreenrOptions);
</script>
<script type="text/javascript">
jQuery(document).ready(function(){
	var negativemargin = jQuery(".nivo-controlNav").outerWidth() / 2;
	jQuery(".nivo-controlNav").css("marginLeft",-negativemargin);
	//TYPEWRITER EFFECT
	jQuery('.listing p > a, small > a, .comment-meta > a, h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a').jTypeWriter({duration:1, sequential:false});
	//BACKGROUND CHANGER
	jQuery(".design").click(function() {
		var background = jQuery(this).css("backgroundImage");
		jQuery("body").css("backgroundImage",background);
	});	
});
</script>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.yabo-sites.com/" : "http://stats.yabo-sites.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.yabo-sites.com/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>