<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title> popup</title>
<%= stylesheet_link_tag 'popup_packaged' %>

<!-- gdf -->
<%= yield(:head_js) %>
</head>
<body>
	<div id="popup_body" >
		<div id="content_left">
			<h1><%=  yield(:page_title) %></h1>
	   		<%= yield %>
		</div>  <!-- /content -->
		<div id="content_right"><%= yield(:center) %></div>
	</div>
</body>
</html>